<p>
    {{ 'Hello'|trans }},
</p>
<p>
    {{ 'Welcome to Finance Portal'|trans }}!
</p>
<p>
    <li>{{ 'Username'|trans }}: <i>{{ user.username }}</i></li>
    <li>{{ 'Password'|trans }}: <i><a href="{{ setPasswordURL }}">{{ 'Set password'|trans }}</a></i></li>
</p>
<p>
    {{ 'Kind regards'|trans }},<br>
    {{ 'Finance team'|trans }}
</p>
